* {
    /* font-family: sans-serif; */
}

header {
    background-color: rgb(52,52,52);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 130px;
    transition: transform 0.3s ease-in-out;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem
}

.nav-list li a {
    text-decoration: none;
    color: rgb(233,227,201);
    font-weight: 500;
    font-size:larger;
}

.nav-list li {
    transition: transform 0.3s ease-in-out;
}


.header-icons {
    display: flex;
    gap: 2rem
}

.header-icons a {
    text-decoration: none;
    color: rgb(233,227,201);
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.nav-list li:hover , .logo:hover , .header-icons a:hover{
    transform: scale(1.2);
}

.open-menu , .close-menu {
    display: none;
    border: 0;
    font-size: 1.8rem;
    background-color: transparent;
    cursor: pointer;
}


@media screen and (max-width: 750px) {
    .open-menu , .close-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }


    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

}




/* .productos {
    display: flex;
} */

.hero {
    display: flex;
    height: 110vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    color: rgb(233,227,201);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h4 {
    font-weight: 300;
}

.hero h1 {
    font-size: 6rem;

}

 button {
    margin: 30px 20px 30px 0;
    border: 0;
    background-color: rgb(52,52,52);
    font-size: 30px;
    color: rgb(233,227,201);
 }

.buscar {
    background-color: rgb(233,227,201);
    margin: 40px 0;
    border: 0;
 }

 h3 {
    text-align: center;
    padding-top: 40px;
 }

 .destacados {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.prod {
    display: flex;
    flex-direction: column;
 }

 .img-prod {
    width: 200px;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 5px;
 }

.prod p {
    text-align: center;
}