

header {
    background-color: rgb(52,52,52);
    padding: 0 80px;
}

header {
    display: flex;
    justify-content: space-between;
}
 header div {
    display: flex;
    align-items: center;
 }

.header-icons a {
    text-decoration: none;
    color: rgb(233,227,201);
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.sesion {
    padding: 0 30px;
}

.nav-link {
    text-decoration: none;
    color: rgb(233,227,201);
    font-weight: 500;
    font-size:larger;
    transition: transform 0.3s ease-in-out;
}

.nav-link-prod , .header-icons {
    padding: 30px;
}

.nav-link:hover , .header-icons a:hover , .logo:hover {
    transform: scale(1.1);
}






.productos {
    display: flex;
}

.logo {
    width: 130px;
    transition: transform 0.3s ease-in-out;
}


.hero {
    display: flex;
    height: 90vh;
    align-items: center;
    /* text-align: center; */
    /* flex-direction: column; */
    justify-content: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
 button {
    margin: 30px 20px 30px 0;
    border: 0;
    background-color: rgb(52,52,52);
    font-size: 30px;
    color: rgb(233,227,201);
 }

.buscar {
    background-color: rgb(233,227,201);
    margin: 40px 0;
    border: 0;
 }

 h3 {
    text-align: center;
    padding-top: 40px;
 }

 .destacados {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

.prod {
    display: flex;
    flex-direction: column;
 }

 .img-prod {
    width: 200px;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 5px;
 }

.prod p {
    text-align: center;
}